@model IEnumerable<HotelManagementApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.employeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeePassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeePassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.employeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.employeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.employeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
